<head>
  <title>Todo List</title>
</head>

<body>
<div class="container" ng-app="simple-todos" ng-controller="TodosListCtrl">

  <header>
    <h1>Todo List</h1>

    <form class="new-task">
      <input ng-model="title" type="text" name=title placeholder="Tasks's title" />
      <input ng-model="text" type="text" name=title placeholder="Tasks's text" />
    </form>

    <button ng-click="addTask(title, text)" class="task-button">Add task</button>
  </header>


  <ul>
    <li ng-repeat="task in tasks">
      <button class="delete" ng-click="removeTask(task._id)">&times;</button>
      <input type="checkbox" ng-checked="checkTask(task._id)" ng-click="taskDone(task._id)" class="toggle-checked" />
      <strong>{{task.title}}</strong>
      <ul>
        <li>{{task.text}}</li>
      </li>
    </li>
  </ul>

</div>
</body>
